.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  font-size: larger;
}

.login,
.signin {
  height: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid white;
}

label {
  text-align: start;
  width: 100%;
}
input {
  padding: 3px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}
.signinbut,
.signGoogle,
.switch {
  cursor: pointer;
  padding: 3px;
  border-radius: 0;
  &:hover {
    filter: brightness(1.2);
  }
}

.error-message {
  position: fixed;
  top: 40px;
  width: 100%;
  text-align: center;
}
