.sidebar {
  position: fixed;
  left: 0;
  top: 132px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  background-color: rgb(16, 16, 81);
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;

  z-index: 1000;
}
.rooms {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.room {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  font-size: 18px;
  &:hover {
    background-color: hsl(240, 57%, 35%);
    color: rgb(255, 255, 255);
  }
}
.deleteButton {
  padding: 5px;
  background-color: hsla(240, 95%, 8%, 0);
  cursor: pointer;
  border: none;
  border-radius: 25px;
  &:hover {
    background-color: rgb(15, 15, 77);
  }
}

.newChatButton {
  border-radius: 20px;
  padding: 10px;
  width: auto;
  height: auto;
  width: 50%;
  background-color: hsl(240, 63%, 48%);
  cursor: pointer;
  color: white;
  margin: 10px;
  margin-left: 50px;
  &:hover {
    background-color: hsl(240, 57%, 35%);
    color: rgb(255, 255, 255);
  }
}

.burger {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 15px;
  margin-bottom: 5px;
}

.burger span {
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}
.op span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.op span:nth-child(2) {
  opacity: 0;
}
.op span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.sidebar.show {
  transform: translateX(0);
}

.sidebar.closing {
  transform: translateX(-100%);
}

.open {
  position: fixed;
  left: 20px;
  top: 145px;
  display: flex;
}

.hide {
  display: none;
}

.popup {
  position: fixed;
  top: 50px;
  left: 40vw;
  background-color: rgb(18, 85, 63);
  z-index: 1001;

  padding: 20px;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: rgb(75, 146, 208);
}

@media (max-width: 600) {
  .sidebar {
    width: 150px;

    font-size: 12px;
  }
  .newChatButton {
    padding: 10px 5px;
  }
}
